<!-- BEGIN #appTopNav -->
<div id="appTopNav" class="app-top-nav">
	<!-- BEGIN menu -->
	<div class="menu">
		<div class="menu-item{{ homeClass }}">
			<a href="index.html" class="menu-link">
				<span class="menu-icon"><i class="bi-ui-radios-grid"></i></span>
				<span class="menu-text">HOME</span>
			</a>
		</div>
		<div class="menu-item menu-control menu-control-start">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-nav-prev"><i class="bi bi-caret-left-fill"></i></a>
		</div>
		<div class="menu-item menu-control menu-control-end">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-nav-next"><i class="bi bi-caret-right-fill"></i></a>
		</div>
	</div>
	<!-- END menu -->
</div>
<!-- END #appTopNav -->
