<!DOCTYPE html>
<html lang="en"{{ htmlAttribute}}>
<head>
	<meta charset="utf-8">
	<title>CYBER | {{ pageTitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="assets/plugins/jquery-ui-dist/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN core-js ================== -->
	<script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
	<script src="assets/plugins/jquery/dist/jquery.min.js"></script>
	<script src="assets/plugins/jquery-ui-dist/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
	<script src="assets/plugins/js-cookie/dist/js.cookie.min.js"></script>
  <script type="module" src="/@src/app.js"></script>
	<!-- ================== END core-js ================== -->
	{{{ pageCss }}}
</head>
<body{{{ bodyAttr }}}>
	{{> app-loader }}
	
	{{> app-cover }}
	